<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
      body {
        font-family: "Roboto", sans-serif;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;
      }
      body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
      h1,
      h3,
      h5 {
        font-family: "Roboto", sans-serif;
      }
    </style>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../public/stylesheets/style.scss" />
  </head>
  <body class="bg-white text-black">


    <div class="header p-4 flex justify-between items-center bg-gray-100 shadow-md">
      <a href="/home"><h1 class="text-3xl font-bold">Thoughts</h1></a>
      <%if (token) { %>
      <a href="/logout" class="text-black hover:text-gray-600 transition-colors"
        >Logout</a
      >
      <% } else { %>
      <a href="/login" class="text-black hover:text-gray-600 transition-colors"
        >Login</a
      >
      <% } %>
    </div>

    <div class="main container mx-auto p-6">
      <% if(user) { %>
      <div class="flex items-center">
        <h3 class="text-2xl font-bold">
          Here we go,
          <a href="/profile"
            ><span class="text-blue-800"><%= user.name %></span></a
          >
          😎
        </h3>
      </div>
      <h5 class="text-xl font-bold mb-6">Create new post 📝</h5>
      <form action="/post" method="post" class="mb-8">
        <textarea
          name="content"
          placeholder="What's on your mind! 🤔"
          class="w-full p-4 bg-gray-100 text-black border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-transparent mb-4"
        ></textarea>
        <input
          type="submit"
          value="Create New Post"
          class="py-2 px-6 bg-black text-white font-bold rounded-md shadow-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 cursor-pointer transition-colors"
        />
      </form>
      <% } %>

      <div>
        <h3 class="text-2xl font-bold mb-6">Posts</h3>
        <div class="space-y-6">
          <% posts.reverse().forEach(post => { %>
          <div class="bg-gray-100 p-6 rounded-lg shadow-md">
            <div class="flex items-center m-1">
              <img
                src="/image/uploads/<%= post.user.profilePic %>"
                alt="Profile Picture"
                class="w-5 h-5 rounded-full object-cover"
              />
              <a href="/profile/<%= post.user._id %>"
                ><h3 class="text-lg font-bold ml-2">
                  <%= post.user.username %>
                </h3></a
              >
            </div>
            <p class="text-gray-600 mb-4"><%= post.content %></p>
            <div class="flex space-x-4">
              <small><%= post.likes.length %> ❤️</small>
              <% if(post.likes.indexOf(users._id)==-1) { %>
              <a
                href="/like/<%= post._id%>"
                class="text-gray-600 hover:text-pink-400"
                >Like</a
              >
              <% } else { %>
              <a
                href="/like/<%= post._id%>"
                class="text-gray-600 hover:text-pink-400"
                >Dislike</a
              >
              <% } %>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
