<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
        body {
            font-family: 'Roboto', sans-serif;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            overflow-y: scroll;
        }
        body::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
        h1, h3, h5 {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-white text-black">
    <div class="p-4 flex justify-between items-center bg-gray-100 shadow-md">
        <a href="/home" class="text-3xl font-bold">Home</a>
        <a href="/logout" class="text-black hover:text-gray-600 transition-colors">Logout</a>
    </div>

    <div class="container mx-auto p-6">
        <div class="flex items-center mb-6">
            <div class="w-20 h-20 mr-4">
                <img src="/image/uploads/<%=user.profilePic %>" alt="Profile Picture" class="w-full h-full rounded-full object-cover">
            </div>
            <h3 class="text-2xl font-bold">
                <span class="text-gray-800"><%= user.name %></span> 
            </h3>
        </div>

        <div>
            <h3 class="text-2xl font-bold mb-6"><%= user.name %>'s Posts</h3>
            <div class="space-y-6">
                <% user.posts.reverse().forEach(post => { %>
                <div class="bg-gray-100 p-6 rounded-lg shadow-md">
                    <div class="flex items-center m-1">
                        <img src="/image/uploads/<%=user.profilePic %>" alt="Profile Picture" class="w-5 h-5 rounded-full ">
                        <h3 class="text-lg font-bold ml-2 "><%= user.username %></h3>
                    </div>
                    <p class="text-gray-600 mb-4"><%= post.content %></p>
                    <div class="flex space-x-4">
                        <small><%= post.likes.length %> ❤️</small>
                        <% if(post.likes.indexOf(user._id)==-1) { %>
                        <a href="/like/<%= post._id%>" class="text-gray-600 hover:text-pink-400">Like</a>
                        <% } else { %>
                        <a href="/like/<%= post._id%>" class="text-gray-600 hover:text-pink-400">Dislike</a>
                        <% } %>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>
